$phone-breakpoint: 450px;
$tablet-breakpoint: 1100px;

$Black: #000;
$Near-Black: #111;
$Dark-Gray:#333;
$Mid-Gray:#555;
$Gray:#777;
$Silver:#999;
$Light-Silver:#aaa;
$Moon-Gray:#ccc;
$Light-Gray:#eee;
$Near-White:#f4f4f4;
$White:#fff;
$Dark-Red:#e7040f;
$Red:#ff4136;
$Light-Red:#ff725c;
$Orange:#ff6300;
$Gold:#ffb700;
$Yellow:#ffd700;
$Light-Yellow:#fbf1a9;
$Purple:#5e2ca5;
$Light-Purple:#a463f2;
$Dark-Pink:#d5008f;
$Hot-Pink:#ff41b4;
$Pink:#ff80cc;
$Light-Pink:#ffa3d7;
$Dark-Green:#137752;
$Green:#19a974;
$Light-Green:#9eebcf;
$Navy:#001b44;
$Dark-Blue:#00449e;
$Blue:#357edd;
$Light-Blue:#96ccff;
$Lightest-Blue:#cdecff;
$Washed-Blue:#f6fffe;
$Washed-Green:#e8fdf5;
$Washed-Yellow:#fffceb;
$Washed-Red:#ffdfdf;