@charset "UTF-8";
.grid-action-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.grid-search-bar {
  padding: 0.5rem;
  width: 450px;
}
.grid-header, .grid-row {
  display: grid;
  grid-template-columns: var(--layout);
  align-items: center;
}
.grid-header {
  font-weight: bold;
}
.grid-header .grid-cell[data-key] {
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}
.grid-header .grid-cell[data-key]::after {
  content: "⮁";
  font-size: 1.25rem;
}
.grid-header .grid-cell[data-key][data-key][data-direction=desc]::after {
  content: "🠗";
}
.grid-header .grid-cell[data-key][data-key][data-direction=asc]::after {
  content: "🠕";
}
.grid-cell {
  padding: 1rem;
}
.grid-body details {
  cursor: pointer;
}
.grid-body details summary {
  list-style: none;
}
.grid-body details summary::-webkit-details-marker {
  display: none;
}
.grid-body details .expandIcon::before {
  content: "🞤";
  color: var(--green);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.grid-body details[open] .expandIcon::before {
  content: "🞫";
  color: var(--red);
}
.grid-no-data {
  width: 100%;
  text-align: center;
}
.grid-expand {
  padding: 0 1rem 1rem 1rem;
}
.grid-footer {
  text-align: right;
  padding: 1rem;
}
.grid-select {
  padding: 0.5rem;
}
.grid-select-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
