.grid-header, .grid-row {
  display: grid;
  grid-template-columns: var(--layout);
}
.grid-header {
  font-weight: bold;
}
.grid-cell {
  padding: 1rem;
}
.grid-footer {
  text-align: right;
  padding: 1rem;
}
